/* Variables  */
:root {
    --navBlue: #0f1524;
    --white: rgb(255, 255, 255);
    --black: black;
    --bodyBlue: #01111e;
    --purple-light-1: #FBFAFB;
    --purple-light-2: #EEEAF2;
    --purple-medium-1: #AA83C8;
    --purple-medium-2: #8B48BF;
    --purple-medium-3: #5C218A;
    --purple-dark-1: #3E0F64;
    --purple-dark-2: #2A0646;  
    --yellow: #EECC75;
    --green: #CAD297;
    --aqua: #B7EAC5;
    --lightBlue: #A2EEE5;
    --darkBlue: #8EA2EA;
    --red: #F09D9D;
    --border: rgb(42, 45, 51);
}
html, body, nav{
  min-width: 1340px
}
.trending-title, .header-title{
    margin-left: 30px;
    padding:  24px;
    font-family: Inter;
    color: var(--white);
  }
.trendingSeries-title{
    margin-left: 30px;
    padding:  24px;
    font-family: Inter;
    color: var(--white);
  }

.genre-title, .category-title {
  
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Inter;
    color: var(--white);
    background-color: var(--navBlue);
    border-radius: 8px;
    border-width: 1px;
    border-color: var(--border);
    width: 150px;
    height: 30px;
    border-style: solid;
    margin: 10px;
    cursor: pointer;
    
}
.categories-list{
  display: flex;
  align-items: center;
  justify-content: left;
}
.genre-titleText{
  margin-left: 30px;
  padding:  24px;
  font-family: Inter;
  color: var(--white);
}
.inactive{
  display: none !important;
}
.header-container--long {
  /* background-image: url('https://pics.filmaffinity.com/Deadpool-777527803-large.jpg');
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 19.27%, rgba(0, 0, 0, 0) 29.17%), url(https://pics.filmaffinity.com/Deadpool-777527803-large.jpg); */
  background-size: cover !important;
  height: 580px;
  /* position: fixed; */
  filter: blur(8px);
  z-index: 1;
  top: 50px;
  width:100%;
}
.headerimg-cont{
  z-index: 2;
  position: absolute ;
  height: 580px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.headerimg{
  border-radius: 12px;
}
.header-container--categoryView {
  background: linear-gradient(180deg, rgba(238, 204, 117, 0.5) 0%, rgba(238, 204, 117, 0) 72.92%);
} 
  .genre-container {
    /* width: 170px */
    width: 100%;
    
  }
  .genre-list{   
  padding:  0 0  0 24px ;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 2px;
  font-size: 14px;
  margin-bottom: 20px;
  }

  
  .trending-movieList {
    overflow-x: hidden;
    overflow-y: hidden;
    /* white-space: nowrap; */
    width: 97%;
    height: 241px;
    padding-left: 24px;
    padding-bottom: 16px;
    margin-left: 40px;
  }
  .genericList-container {
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 32px 0px 20px 48px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .movie-container, .serie-container {
    cursor: pointer;
    min-height: 200px;
    margin: 10px;
    position: relative;
    
}
  .genericList-container .movie-container {
    display: inline-block;
    width: 47.5%;
    
  }
  
  .movie-img, .serie-img {
    width: 250px;
    border-radius: 14px;
    height: 350px !important;
    margin-bottom: 30px;
  }
  .trending-header, .trendingSeries-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .trending-btn, .trendingSeries-btn {
    border-radius: 8px;
    height: 32px;
    width: 72px;
    margin-right: 100px;
    cursor: pointer;
  }
  .trending-movieList .movie-container {
    display: inline-block;
    margin-right: 8px;
  }
  

  .trending-movieList .movie-container .movie-img {
    /* height: 225px; */
    min-height: 225px;
    max-height: 225px;
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    
  }
  .trendingSeries-movieList {
    overflow-x: hidden;
    overflow-y: hidden;
    /* white-space: nowrap; */
    height: 241px;
    width: 97%;
    padding-left: 24px;
    padding-bottom: 16px;
    margin-left: 40px;
  }
  
  .trendingSeries-movieList .serie-container {
    display: inline-block;
    margin-right: 8px;
  }
  
  .trendingSeries-movieList .serie-container .serie-img {
    /* height: 225px; */
    min-height: 225px;
    max-height: 225px;
    width: 150px;
    min-width: 150px;
    max-width: 150px;
  }
  
body{
    margin: 0;
    background-color: var(--bodyBlue);
}
.navbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: var(--navBlue);
   
   
}
.navbarlogo{
    display: flex;    
    justify-content: space-between;   
}
.navbarlogo a{
  font-size: 22px;  
  font-family: Domine;
}
.navbarlogo img{
    width: 100px;
    margin-left: 30px;
    cursor: pointer;
}
.navbar span, .nombre{
    color: var(--white);
    margin: 15px; 
    font-family: Inter;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;  
}
.search{
    display: flex;    
    justify-content: space-between;  
    height: 30px; 
    margin-top: 13px;
    margin-left: 15px;
    margin-right: 0px;
}
.search input{
    background-color: var(--bodyBlue);
    border-radius: 4px 0 0px 4px;
    border-color: var(--bodyBlue);
    width: 350px;
    border-style: solid;
    color: var(--white);
}
.search button{
    border-radius: 0 4px 4px 0;
    background-color: var(--bodyBlue);
    border-color: var(--bodyBlue);
    border-style: solid;    
    margin-left: 1px;
    color: gray;
    cursor: pointer;
}

.navbar-menu ul{
    list-style: none;
    padding: 3px 20px 0 0;
    align-items: center;
    display: flex;            
    /* margin: 15px;  */
}
.navbar-menu ul li {
    padding: 0 20px;
   
}
.navbar-menu ul li a{
    color: var(--white);
    text-decoration: none;   
    font-family: Inter;
   
}
footer {
    background-color: var(--navBlue);
    color: var(--white);
    text-align: center;
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    bottom: 0;
  }
footer p a{
  color: rgb(247, 194, 82);
}
  /* Movie Detail */
.movieDetail-container {
  /* border-top-left-radius: 16px;f
  border-top-right-radius: 16px; */
  padding: 40px 22px 0px;
  width: 60%; 
  
  /* margin-top: 403px; */
  z-index: 1;
 color: var(--white);
  /* position: absolute; */
  /* backdrop-filter: blur(10px);
  background-color: var(--black); */
}
.movieDetailTop{
  display: flex;
  align-items: center;
  justify-content: center;
}
.movieDetail-title {
  display: inline-block;
  width: 80%;
  margin: 0 0 16px 0;
  padding: 0;
  font-size: 42px;
}

.movieDetail-score {
  display: inline-block;
  text-align: right;
  width: 19%;
  font-size: 24px;
  font-weight: var(--font-weight-title2);
}
.movieDetail-score::before {
  content: '★';
  color: var(--yellow);
  padding-right: 4px;
}

.movieDetail-description {
  margin: 0 0 24px 0;
  font-size: 18px;
}

.relatedMovies-container, .liked-header {
  /* margin-top: 24px; */
  /* width: 50%; */
  color: var(--white);
  /* margin-left: 20px; */
  padding-left: 30px;
 
}

.relatedMovies-title {
  margin-bottom: 16px;
}

.relatedMovies-scrollContainer {
  /* position: absolute; */
  overflow-x: hidden;
  overflow-y: hidden;
  /* white-space: nowrap; */
  height: 180px;
  width: 100%;
  padding-bottom: 16px;
  margin-bottom: 20px;

  /* overflow-x: hidden;
  overflow-y: hidden;
  /* white-space: nowrap; */
  /* width: 97%;
  height: 241px;
  padding-left: 24px;
  padding-bottom: 16px;
  margin-left: 40px; */ 

}

.relatedMovies-scrollContainer .movie-container {
  display: inline-block;
  margin-right: 8px;
}

.relatedMovies-scrollContainer .movie-img {
  width: 125px;
  min-width: 125px;
  max-width: 125px;
  height: 187.5px;
  min-height: 187.5px;
  max-height: 187.5px;
}
/* .categoriesPreview-list, .categories-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
} */

.liked-movieList, .liked-serieList{
   display: flex;
   align-items: center;
}
.movie-like-btn, .serie-like-btn{
  position: absolute;
  top: 5px;
  right: 10px;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  padding: 0;
  margin: 0;
  border: none;
  background-color: var(--navBlue);
  cursor: pointer;
}
.movie-like-btn::before{
  content: '🤍';
}
.movie-like-btn--liked::before{
  content: '💖';
}
.serie-like-btn::before{
  content: '🤍';
}
.serie-like-btn--liked::before{
  content: '💖';
}
